*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1100px;
    margin: 0 auto;
    font-family: "Cabin", sans-serif;      
    };    

/* HEADER */

header{
    background-color: #255ee9;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 2.5rem;
}

h1{
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

ul{
    list-style-type: none;
}

.top-header{
    background-color: #255ee9;
    color: white;
    font-size:0.80rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.80rem 2.5rem;    
}

.logo.img>img{
    height: 1.5rem;
}

.header-main{
    color: white;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    padding: 5.5rem 16rem 4rem;
    text-align: center;
    line-height: 1.2rem;
    margin-bottom: 1rem;
}

.header-main>p{
    font-size: 0.75rem;
}

.header-menu-list{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.header-menu-list>li{
    padding: 0 1rem;
    font-size: 0.7rem;
}

/* BOTTONI */

.button.big{
    font-size: 0.7rem;
    padding: 0.5rem 0.8rem;
    margin: 0.5rem 0.35rem;
}

.button.big.black{
    background-color: #23272a;
    color: white;
}


.button{
    border-radius: 15px;
    padding: 0.3rem 0.5rem;
    font-size: x-small;
    border-color: transparent;
}

.button.bg-blue{
    font-size: 0.7rem;
    padding: 0.1rem 0.7rem 0.2rem;
    border-radius: 17px;
}

/* MAIN SECTION */

.ad-info{
    display: flex;
    justify-content: center; 
    padding: 4rem 4rem 6rem;
}

.ad-info.bg-grey{
    padding-left: 8rem;    
}

.ad-info.bg-grey>.ad-info-text{
    padding-top: 2rem;
}

.column.ad-img{
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
}

.column.ad-info-text{
    width: 30%;
    align-self: flex-start;
}

.ad-info-text>h1{
    font-size: 2.2rem;
    line-height: 2.4rem;
}

.ad-info-text>p{
    font-size: 0.9rem;
    line-height: 1.3rem;
}


.ad-img.one{
    background-image: url(../img/item1.svg);
}

.ad-img.two{
    background-image: url(../img/item2.svg);
    margin-left: 7rem;
    height: 330px;    
}

.ad-img.three{
    background-image: url(../img/item3.svg);
    height: 330px;
}

.ad-big{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    padding: 3rem 1rem 0;
}


.download{
    text-align: center;
    padding-bottom: 7rem;
}

.download>h3{
    padding-top: 2rem;
    font-size: 1.3rem;
    line-height: 3rem;
    background-image: url(../img/stars.svg);
    background-position: 50%;
    background-size: 40%;
    background-repeat: no-repeat;
}



/* FOOTER */
footer{
    background-color: #23272a;
    color: white;
    padding: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;    
}

.link-social{
    padding: 1rem 0 1rem 5rem;
    color: white;    
    width: calc(30% - 1rem);
}

.link-social>h3{
    color: #7289da;
    font-size: 1.5rem;    
    padding: 1rem 1rem 0;
}

.lang{
    display: flex; 
    padding: 1rem;   
}

.lang>p{
    font-size: 0.8rem;
    padding-left: 0.4rem;
}

#ita-flag{
    height: 1rem;    
}

.social{
    padding: 0 4rem 0 1rem;
    display: flex;
    justify-content: space-between;    
}

nav.footer-menu{
    display: flex;    
}

.menu-link-list{
    width: 70%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 4rem;
}

.link-menu{ 
    padding:2rem;
    font-size: 0.7rem;
    line-height: 2rem;
}

.title-footer{
    color: #6a7cbc;
    font-weight: 600;
}

.copyright{       
    border-top: #6a7cbc 1px solid;display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    margin: 0 6rem 0;
}



/* COLORI BACKGROUND */
.bg-white{
    background-color: white;
}

.bg-grey{
    background-color: #f6f6f6;
}

.bg-blue{
    background-color: #6a7cbc;
    color: white;    
}