*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1100px;
    margin: 0 auto;
    font-family: "Cabin", sans-serif;      
    };    


header{
    background-color: #255ee9;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 2.5rem;
}

h1{
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

ul{
    list-style-type: none;
}

footer{
    background-color: #23272a;
    color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;    
}

.top-header{
    background-color: #255ee9;
    color: white;
    font-size:0.80rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.80rem 2.5rem;    
}


.logo.img>img{
    height: 1.5rem;
}

.header-main{
    color: white;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    padding: 5.5rem 16rem 4rem;
    text-align: center;
    line-height: 1.2rem;
    margin-bottom: 1rem;
}

.header-main>p{
    font-size: 0.75rem;
}

.header-menu-list{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.header-menu-list>li{
    padding: 0 1rem;
    font-size: 0.7rem;
}

.button.big{
    font-size: 0.7rem;
    padding: 0.5rem 0.8rem;
    margin: 0.5rem 0.35rem;
}

.button.big.black{
    background-color: #23272a;
    color: white;
}


.button{
    border-radius: 15px;
    padding: 0.3rem 0.5rem;
    font-size: x-small;
    border-color: transparent;
}

.ad-info{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center; 
    padding: 3rem 4rem 6rem;       
}

.ad-info .img{
    width: calc(60% - 2rem);
    background-size: contain;
    background-repeat: no-repeat;
}

.row-reverse{
    flex-flow: row-reverse nowrap;
}

.ad-big{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    padding: 3rem 1rem 0;
}

.text-info{
    width: 30%;
    padding: 2rem 1.8rem 0 0;   
    align-self: flex-start;
}

.text-info>h1{
    font-size: 2.2rem;
    line-height: 2.4rem;
}

.text-info>p{
    font-size: 0.9rem;
    line-height: 1.3rem;
}

.ad-info.row-reverse.bg-grey{
    padding: 6rem 4rem 6rem;  
}

.text-info.reverse{
    padding: 0 0 2rem 3rem;
    width: 30%;
    margin-right: 10rem;
}

.ad-big div{
    width: 100%;
}

.ad-big img{
    width: 100%;
    padding: 1rem 3rem;
}

.ad-big p{
    font-size: 0.9rem;
    line-height: 1.3rem;
}

.download{
    text-align: center;
    padding-bottom: 7rem;
}

.download>h3{
    padding-top: 2rem;
    font-size: 1.3rem;
    line-height: 3rem;
    background-image: url(../img/stars.svg);
    background-position: 50%;
    background-size: 40%;
    background-repeat: no-repeat;
}

nav.footer-menu{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

.link-menu{
    display: inline-block;
}

.title-footer{
    color: #6a7cbc;
}

.copyright{
    display: flex;
    justify-content: space-between;
}

.bg-white{
    background-color: white;
}

.bg-grey{
    background-color: #f6f6f6;
}

.item1{
    background-image: url(../img/item1.svg);    
}

.item2{
    background-image: url(../img/item2.svg);
}

#reverse-img{
    width: calc(70% - 10rem);
}

.item3{
    background-image: url(../img/item3.svg);
}
